header {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 2rem 6rem;
  margin: 0 0 5rem 0;
  border-bottom: 1px solid grey;
  background-image: linear-gradient(to top, rgba(235, 219, 210, 0.95),rgba(204, 212, 223, 0.95));
  top: 0;
  left: 0;
  right: 0;
  position: sticky;
  z-index: 2;

  .logo {
    display: flex;
    align-items: center;
    gap: 2rem;
    text-decoration: none;
    color: #000;
    text-shadow: 0 2px 1.5px black;

    img {
      width: 6rem;
      filter: drop-shadow(0 2px 2px #000);
    }

    h1 {
      font-size: 3rem;
      font-family: Oswald, sans-serif;
    }
  }

  nav {
    margin-left: auto;

    ul {
      list-style: none;
      display: flex;
      font-size: 2rem;

      li {
        padding: 0 2rem;

        &:nth-child(3) {
          border-left: 1px solid #000;
        }

        a {
          font-family: Oswald, sans-serif;
          text-decoration: none;
          color: #000000;

          &:hover {
            color: blueviolet;
          }

          &:active {
            color: rgb(60, 5, 112);
          }
        }

        .active {
          text-decoration: none;
          position: relative;

          &:after {
            content: '';
        
            width: 100%;
            position: absolute;
            left: 0;
            bottom: -4px;
        
            border-width: 0 0 3px;
            border-style: solid;
          }
        }
      }
    }
  }
}
