header {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 2rem 6rem;
  margin: 0 0 5rem 0;
  border-bottom: 1px solid grey;
  background-image: linear-gradient(to top, rgba(235, 219, 210, 0.95), rgba(204, 212, 223, 0.95), rgba(204, 212, 223, 0.95));
  top: 0;
  left: 0;
  right: 0;
  position: sticky;
  z-index: 2;

  .logo {
    display: flex;
    align-items: center;
    gap: 2rem;
    text-decoration: none;
    color: #000;
    text-shadow: 0 2px 1.5px black;

    img {
      width: 6rem;
      filter: drop-shadow(0 2px 2px #000);
    }

    h1 {
      font-size: 3rem;
      font-family: Oswald, sans-serif;
    }
  }

  .hamburger-menu {
    font-size: 3rem;
    cursor: pointer;
    margin-left: auto;
    display: none;
  }
}

.header__nav {
  margin-left: auto;

  ul {
    list-style: none;
    display: flex;
    font-size: 2rem;

    li {
      padding: 0 2rem;

      &:nth-child(3) {
        border-left: 1px solid #000;
      }

      a {
        font-family: Oswald, sans-serif;
        text-decoration: none;
        color: #000;

        &:hover {
          color: blueviolet;
        }

        &:active {
          color: rgb(60, 5, 112);
        }
      }

      .active {
        text-decoration: none;
        position: relative;

        &::after {
          content: '';
          width: 100%;
          position: absolute;
          left: 0;
          bottom: -4px;
          border-width: 0 0 3px;
          border-style: solid;
        }
      }
    }
  }
}

.mobile-menu-container {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100vw;
  height: 100vh;
  font-family: Oswald, sans-serif;
  animation: slideright 1 0.5s ease-out;

  .x-btn {
    all: unset;
    position: absolute;
    top: 2rem;
    right: 8rem;
    color: white;
    font-size: 3rem;
    cursor: pointer;

    .x-icon {
      width: 4rem;
      height: 4rem;
      padding: 1rem;
      border: 1px solid white;
      border-radius: 100%;

      &:hover {
        color: orange;
        border-color: orange;
      }

      &:active {
        color: orange;
        border-color: orange;
        box-shadow: inset 0 0 10px orange;
      }
    }
  }

  .mobile-menu {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    justify-content: center;
    align-items: center;

    ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 4rem;

      li {
        text-align: center;

        a {
          font-size: 3rem;
          text-align: center;
          color: white;
          text-decoration: none;

          &:hover {
            color: orange;
            border-color: orange;
          }

          &:active {
            color: orange;
            border-color: orange;
            filter: drop-shadow(0 0 10px orange);
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1100px) {
  header {
    padding: 1rem 2rem;
    gap: 0;

    .logo {
      gap: 1rem;

      img {
        width: 3rem;
      }

      h1 {
        font-size: 1.8rem;
      }
    }

    .header__nav {
      display: none;
    }

    .hamburger-menu {
      display: block;

      &:hover {
        color: rgb(63, 3, 202);
        font-weight: bold;
      }

      &:active {
        color: blueviolet;
      }
    }
  }
}
