.empty {
  position: absolute;
  padding: 30px;
  width: 40rem;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0 0 5px orange;
  top: 40%;
  right: 10%;
  border: 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  animation: slideIn infinite 8s linear;

  @keyframes slideIn {
    0% {
      top: 50%;
    }

    50% {
      top: 40%;
    }

    100% {
      top: 50%;
    }
  }
}

.empty-missions {
  position: absolute;
  left: 10%;
  animation: missions-slideIn infinite 8s linear;

  @keyframes missions-slideIn {
    0% {
      top: 50%;
    }

    50% {
      top: 40%;
    }

    100% {
      top: 50%;
    }
  }
}

.profile-container {
  display: flex;
  position: relative;
  min-height: 50vh;
}

.reserved__section {
  display: flex;
  flex-direction: column;
  padding: 0 2rem 6rem 6rem;
  width: 50%;

  h2 {
    font-size: 2.8rem;
  }

  ul {
    display: flex;
    flex-direction: column;

    .reserved__container {
      display: flex;
      padding: 2rem;
      border: 1px solid gray;
      border-top: none;

      &:first-child {
        border-top: 1px solid gray;
      }

      h3 {
        font-size: 2rem;
        align-self: center;
      }

      .reserved__buttons {
        display: flex;
        align-items: center;
        margin-left: auto;
        gap: 1.8rem;

        a {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 10rem;
          text-decoration: none;
          text-align: center;
          height: 3rem;
          font-size: 1.5rem;
          background-color: transparent;
          cursor: pointer;
          border: 1px solid gray;
          border-radius: 5px;
          color: gray;
          transition: color linear 0.2s, border-color;

          &:hover {
            color: blueviolet;
            border-color: blueviolet;
          }

          &:active {
            color: blueviolet;
            box-shadow: inset 0 0 5px blueviolet;
          }
        }

        .remove-reservation {
          width: 15rem;
          height: 3rem;
          font-size: 1.5rem;
          background-color: transparent;
          cursor: pointer;
          border: 1px solid gray;
          border-radius: 5px;
          color: gray;
          transition: color linear 0.2s, border-color;

          &:hover {
            color: blueviolet;
            border-color: blueviolet;
          }

          &:active {
            color: blueviolet;
            box-shadow: inset 0 0 5px blueviolet;
          }

        }
      }
    }
  }
}

.red {
  border: 1px solid red !important;
  color: red !important;
  
  &:hover {
    color: blueviolet !important;
    border-color: blueviolet !important;
  }

  &:active {
    color: blueviolet !important;
    box-shadow: inset 0 0 5px blueviolet !important;
  }

}

// .right {
//   margin-left: auto;
// }

.left {
  margin-left: auto;
  float: right;
  padding: 0 6rem 6rem 2rem;

}
