* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
  font-family: Montserrat, sans-serif;
}

body {
  height: 100vh;
  overflow-x: hidden;
}
